<div class="login-wrap d-flex ">
    <div class="row m-0 align-self-center w-100">
        <div class="col-md-6 col-sm-12 col-lg-4 mx-auto">
            <div class="login-inner text-center">
                <img src="/assets/img/login-logo.png" width="50%" />
                <div class="login-form-box">
                    <br>
                    <p>Confirm your Account</p>
                    <hr class="hr-login">
                    <div class="row m-0">
                        <div class="col-md-11 mx-auto">
                            <button (click)="confirmAccount()" type="submit" class="btn btn-block sign-btn">CONFIRM ACCOUNT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>