<div class="content">
    <div class="login-form-box col-sm-5" style="margin: 55px auto 0;">
        <br>
        <p style="font-size: 16px; text-align: center;">
            Change Password
            <ng-container *ngIf="adminStatus; else user">
                <a [routerLink]="['/admin/profile']" title="Back To Profile" class="back-to-profile" href="javascript:void(0)">x</a>
            </ng-container>
            <ng-template #user>
                <a [routerLink]="['/home/profile']" title="Back To Profile" class="back-to-profile" href="javascript:void(0)">x</a>
            </ng-template>
        </p>
        <hr class="hr-login">
        <div class="row m-0">
            <div class="col-md-11 mx-auto">
                <form [formGroup]="changeFormGroup" (ngSubmit)="changePassword(changeFormGroup.value)" autocomplete="off">
                    <!-- old password -->
                    <div class="form-group">
                        <input formControlName="old_password" type="password" class="form-control password"
                            placeholder="Old Password" />
                        <span
                            *ngIf="changeFormGroup.get('old_password').hasError('required') && changeFormGroupValid === false"
                            class="field-error">Please enter old password</span>
                        <!-- <span *ngIf="changeFormGroup.get('old_password').hasError('minlength') && changeFormGroup.get('old_password').dirty"
                                            class="field-error">Password should have at least 8 characters</span> -->
                    </div>
                    <!-- new password -->
                    <div class="form-group">
                        <input formControlName="new_password1" (keyup)="compareOldPassword($event)" type="password"
                            class="form-control password" placeholder="New Password" />
                        <span
                            *ngIf="changeFormGroup.get('new_password1').hasError('required') && changeFormGroupValid === false"
                            class="field-error">Please enter new password</span>
                        <span
                            *ngIf="changeFormGroup.get('new_password1').hasError('minlength') && changeFormGroup.get('new_password1').dirty"
                            class="field-error">Password should have at least 8 characters</span>
                        <span *ngIf="sameCredentials" class="field-error">Old & new passwords can't be the same.</span>
                    </div>
                    <!-- confirm new password -->
                    <div class="form-group">
                        <input formControlName="new_password2" type="password" class="form-control password"
                            placeholder="Confirm Password" />
                        <span
                            *ngIf="changeFormGroup.get('new_password2').hasError('required') && changeFormGroupValid === false"
                            class="field-error">Please confirm new password</span>
                        <span
                            *ngIf="changeFormGroup.get('new_password1').valid && changeFormGroup.get('new_password2').hasError('passwordValidation') && changeFormGroup.get('new_password2').dirty"
                            class="field-error">Passwords don't match</span>
                    </div>
                    <!-- submit -->
                    <button type="submit" class="btn btn-block sign-btn">Change
                        Password</button>
                </form>
            </div>
        </div>
    </div>
</div>